@import "../stylesheet/homepage.scss";
@import "../stylesheet/loader.scss";
@import "../stylesheet/navbar.scss";
@import "../stylesheet/userimages.scss";
@import "../stylesheet/userprofilepage.scss";

a {
  color: black;
}

#root {
  background-color: #fafafa;
}

.d-inline-block {
  display: inline-block;
}
