.user-img {
  width: 250px;
  height: 250px;
  /* display: inline-block; */
  margin: 15px;
  object-fit: cover;
  position: relative;

  &:hover {
    opacity: 0.8;
  }
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  /* text-align: center; */
  width: 251px;
  height: 251px;
  background-color: white;

  &:hover {
    opacity: 0.8;
  }
}

.like {
  width: 100px;
  height: 100px;
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}
