@import "./homepage.scss";
@import "./loader.scss";
@import "./navbar.scss";
@import "./userimages.scss";
@import "./userprofilepage.scss";

#root {
  background-color: #fafafa;
}

.d-inline-block {
  display: inline-block;
}
