.user-img-container {
  width: 250px;
  height: 250px;
  margin: 15px;

  .user-img {
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.heart {
  height: 80%;
  width: 80%;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
